.base {
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.base-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.4rem;
    width: 40rem;
}

.base-teclado {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
